{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/home.js'%}"></script>
{% endblock %}

{% block content %}
<div class="row" style="background-color: red;color:yellow;margin-bottom: 20px;">
    <div class="col-sm-12">
        <h1>Employees Details : </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="empTable" class="table table-hover table-dark"></table>
    </div>
</div>
{% endblock %}